{% include 'navbar.html' %}


<body>
    <div class="content">
        <div class="section">
            <h2 class="section-header">welcome to pizza shop</h2>
            <div class="section-content">
                <p>pic placeholder</p>
            </div>
        </div>

        <div class="section">
            <h2 class="section-header">Section 2</h2>
            <div class="section-content">
                <p>This is the content of section 2.</p>
            </div>
        </div>

        <div class="section">
            <h2 class="section-header">Section 3</h2>
            <div class="section-content">
                <p>This is the content of section 3.</p>
            </div>
        </div>
    </div>

{% include 'footer.html' %}
