{% include 'navbar.html' %}

<body>
    <div class="container mt-4">
        {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endif %}

        <div class="container mt-4">
            <img src="{{ url_for('static', filename='menu.jpg')}}" alt="menu" id="menu">
            <p class="view-by-category mb-3">View by category</p>
            <ul class="no-bullet-list">
            <li><a href="/products" class="btn btn btn-light">Browse All</a></li>
            <li><a href="/products/veg" class="btn btn btn-light">Browse Veg</a></li>
            </ul>
          </div>

        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename=product.product_name + '.jpg') }}" class="card-img card-img-top" alt="{{ product_name }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">£{{ product.price }}</p>
                        <div class="mt-auto d-flex justify-content-between">
                            <form action="/products" method="post">
                                <input type="hidden" name="add_basket" value="{{ product.id }}">
                                <button type="submit" type="button" class="btn btn-dark">Add to Basket</button>
                            </form>
                            <a href="/products/{{product.id}}" class="btn btn-light" name="product_details" value="{{ product.id }}">Show Details</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
{% include 'footer.html' %}
